Download raw dataset (with all columns) from www.football-data.co.uk, parse dates and save as CSV.

* Input: None
* Output: "dataset_all_columns.csv"

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Downloading data.

df = pd.DataFrame()
for i in range(0, 22):
    if i < 9:
        year = f'0{i}0{i + 1}'
    elif i == 9:
        year = f'0{i}{i + 1}'
    else:
        year = f'{i}{i + 1}'
    print(f"\tDownloading season {year}")

    df_read = pd.read_csv(f'https://www.football-data.co.uk/mmz4281/{year}/SP1.csv', on_bad_lines='warn')

    try:
        df_read['Date'] = pd.to_datetime(df_read['Date'], format="%d/%m/%y")
    except ValueError:
        df_read['Date'] = pd.to_datetime(df_read['Date'], format="%d/%m/%Y")

    df = pd.concat([df, df_read])
    
df

	Downloading season 0001
	Downloading season 0102
	Downloading season 0203
	Downloading season 0304
	Downloading season 0405

Skipping line 97: expected 49 fields, saw 50
Skipping line 98: expected 49 fields, saw 50
Skipping line 99: expected 49 fields, saw 50
Skipping line 100: expected 49 fields, saw 50
Skipping line 101: expected 49 fields, saw 50
Skipping line 102: expected 49 fields, saw 50
Skipping line 103: expected 49 fields, saw 50
Skipping line 104: expected 49 fields, saw 50
Skipping line 105: expected 49 fields, saw 50
Skipping line 106: expected 49 fields, saw 50
Skipping line 107: expected 49 fields, saw 50
Skipping line 108: expected 49 fields, saw 50
Skipping line 109: expected 49 fields, saw 50
Skipping line 110: expected 49 fields, saw 50
Skipping line 111: expected 49 fields, saw 50
Skipping line 112: expected 49 fields, saw 50
Skipping line 113: expected 49 fields, saw 50
Skipping line 114: expected 49 fields, saw 50
Skipping line 115: expected 49 fields, saw 50
Skipping line 116: expected 49 fields, saw 50
Skipping line 117: expected 49 fields, saw 50
Skipping line 118: expected 49 fields, saw 50
Skipping line 119: expected 49 fields, saw 50
Skipping line 120: expected 49 fields, saw 50
Skipping line 121: expected 49 fields, saw 50
Skipping line 122: expected 49 fields, saw 50
Skipping line 123: expected 49 fields, saw 50
Skipping line 124: expected 49 fields, saw 50
Skipping line 125: expected 49 fields, saw 50
Skipping line 126: expected 49 fields, saw 50
Skipping line 127: expected 49 fields, saw 50
Skipping line 128: expected 49 fields, saw 50
Skipping line 209: expected 49 fields, saw 50
Skipping line 210: expected 49 fields, saw 50
Skipping line 211: expected 49 fields, saw 50
Skipping line 212: expected 49 fields, saw 50
Skipping line 213: expected 49 fields, saw 50
Skipping line 214: expected 49 fields, saw 50
Skipping line 215: expected 49 fields, saw 50
Skipping line 216: expected 49 fields, saw 50
Skipping line 217: expected 49 fields, saw 50
Skipping line 218: expected 49 fields, saw 50
Skipping line 219: expected 49 fields, saw 50
Skipping line 220: expected 49 fields, saw 50
Skipping line 221: expected 49 fields, saw 50
Skipping line 222: expected 49 fields, saw 50
Skipping line 223: expected 49 fields, saw 50
Skipping line 224: expected 49 fields, saw 50
Skipping line 225: expected 49 fields, saw 50
Skipping line 226: expected 49 fields, saw 50
Skipping line 227: expected 49 fields, saw 50
Skipping line 228: expected 49 fields, saw 50
Skipping line 229: expected 49 fields, saw 50
Skipping line 230: expected 49 fields, saw 50
Skipping line 231: expected 49 fields, saw 50
Skipping line 232: expected 49 fields, saw 50
Skipping line 233: expected 49 fields, saw 50
Skipping line 234: expected 49 fields, saw 50
Skipping line 235: expected 49 fields, saw 50
Skipping line 236: expected 49 fields, saw 50
Skipping line 237: expected 49 fields, saw 50
Skipping line 238: expected 49 fields, saw 50
Skipping line 239: expected 49 fields, saw 50
Skipping line 240: expected 49 fields, saw 50
Skipping line 257: expected 49 fields, saw 51
Skipping line 258: expected 49 fields, saw 51
Skipping line 259: expected 49 fields, saw 51
Skipping line 260: expected 49 fields, saw 51
Skipping line 261: expected 49 fields, saw 51
Skipping line 262: expected 49 fields, saw 51
Skipping line 263: expected 49 fields, saw 51
Skipping line 264: expected 49 fields, saw 51
Skipping line 265: expected 49 fields, saw 51
Skipping line 266: expected 49 fields, saw 51
Skipping line 267: expected 49 fields, saw 51
Skipping line 268: expected 49 fields, saw 51
Skipping line 269: expected 49 fields, saw 51
Skipping line 270: expected 49 fields, saw 51
Skipping line 271: expected 49 fields, saw 51
Skipping line 272: expected 49 fields, saw 51
Skipping line 289: expected 49 fields, saw 50
Skipping line 290: expected 49 fields, saw 50
Skipping line 291: expected 49 fields, saw 50
Skipping line 292: expected 49 fields, saw 50
Skipping line 293: expected 49 fields, saw 50
Skipping line 294: expected 49 fields, saw 50
Skipping line 295: expected 49 fields, saw 50
Skipping line 296: expected 49 fields, saw 50
Skipping line 297: expected 49 fields, saw 50
Skipping line 298: expected 49 fields, saw 50
Skipping line 299: expected 49 fields, saw 50
Skipping line 300: expected 49 fields, saw 50
Skipping line 301: expected 49 fields, saw 50
Skipping line 302: expected 49 fields, saw 50
Skipping line 303: expected 49 fields, saw 50
Skipping line 304: expected 49 fields, saw 50
Skipping line 305: expected 49 fields, saw 50
Skipping line 306: expected 49 fields, saw 50
Skipping line 307: expected 49 fields, saw 50
Skipping line 308: expected 49 fields, saw 50
Skipping line 309: expected 49 fields, saw 50
Skipping line 310: expected 49 fields, saw 50
Skipping line 311: expected 49 fields, saw 50
Skipping line 312: expected 49 fields, saw 50
Skipping line 313: expected 49 fields, saw 50
Skipping line 314: expected 49 fields, saw 50
Skipping line 315: expected 49 fields, saw 50
Skipping line 316: expected 49 fields, saw 50
Skipping line 317: expected 49 fields, saw 50
Skipping line 318: expected 49 fields, saw 50
Skipping line 319: expected 49 fields, saw 50
Skipping line 320: expected 49 fields, saw 50

	Downloading season 0506
	Downloading season 0607
	Downloading season 0708
	Downloading season 0809
	Downloading season 0910
	Downloading season 1011
	Downloading season 1112
	Downloading season 1213
	Downloading season 1314
	Downloading season 1415
	Downloading season 1516
	Downloading season 1617
	Downloading season 1718
	Downloading season 1819
	Downloading season 1920
	Downloading season 2021
	Downloading season 2122

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,2000-09-09,Barcelona,Malaga,2,1,H,2,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,2000-09-09,La Coruna,Ath Bilbao,2,0,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,2000-09-09,Real Madrid,Valencia,2,1,H,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,2000-09-09,Sociedad,Santander,2,2,D,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,2000-09-09,Zaragoza,Espanol,1,2,A,0,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2022-05-22,Granada,Espanol,0,0,D,0,0,D,...,2.29,-1.25,2.02,1.88,2.03,1.90,2.06,2.05,1.97,1.90
376,SP1,2022-05-22,Osasuna,Mallorca,0,2,A,0,0,D,...,1.76,0.25,1.68,2.15,1.74,2.23,1.86,2.29,1.77,2.11
377,SP1,2022-05-22,Barcelona,Villarreal,0,2,A,0,1,A,...,2.50,-0.50,2.07,1.83,2.08,1.85,2.09,2.00,1.97,1.91
378,SP1,2022-05-22,Sevilla,Ath Bilbao,1,0,H,0,0,D,...,1.69,0.00,2.01,1.89,2.02,1.90,2.07,2.06,2.00,1.88
379,SP1,2022-05-22,Sociedad,Ath Madrid,1,2,A,0,0,D,...,1.66,0.00,1.91,1.99,1.89,2.01,1.95,2.04,1.90,1.98

In [3]:
# Saving as CSV.

df.to_csv('./data/dataset_all_columns.csv', index=False, encoding='UTF-8', sep=';')

In [4]:
# All teams in the dataset.

set(np.concatenate([df['HomeTeam'].unique(), df['AwayTeam'].unique()]))

{'Alaves',
 'Albacete',
 'Almeria',
 'Ath Bilbao',
 'Ath Madrid',
 'Barcelona',
 'Betis',
 'Cadiz',
 'Celta',
 'Cordoba',
 'Eibar',
 'Elche',
 'Espanol',
 'Getafe',
 'Gimnastic',
 'Girona',
 'Granada',
 'Hercules',
 'Huesca',
 'La Coruna',
 'Las Palmas',
 'Leganes',
 'Levante',
 'Malaga',
 'Mallorca',
 'Murcia',
 'Numancia',
 'Osasuna',
 'Oviedo',
 'Real Madrid',
 'Recreativo',
 'Santander',
 'Sevilla',
 'Sociedad',
 'Sp Gijon',
 'Tenerife',
 'Valencia',
 'Valladolid',
 'Vallecano',
 'Villarreal',
 'Xerez',
 'Zaragoza'}